<div class="assignment pin {{status}}" data-id="{{id}}" id="as-{{id}}">
  <div class="status icon-time"></div>
  	
  <div class="title">
  	{{task.name}}
	-
  	<span class="date">deadline: {{date_due}}</span>
  </div>
</div>
