<div class="document pin {{status}} {{#each tags.RATING}}{{this.name}}_grade {{/each}}" data-slug="{{slug}}" data-type="{{type}}" data-href="/#{{#url "d" "slug" slug}}{{/url}}" data-id="{{id}}" id="d-{{id}}">
  <div class="inner">
    <div class="pusher"></div>
    <div class="status">{{status}}</div>
    <h3>{{title}}</h3>
    <div class="tags">
      {{#each tags.Date}}
        {{this.name}}
      {{/each}}
      
    	{{#each tags.Institution}}
    		{{this.name}} /
  		{{/each}}
      
      {{#each tags.AUTHOR}}
        {{this.name}} -
      {{/each}}
    </div>
    <div class="actions">
      {{#each attachments}}
        {{#if_in this.ext compare="pdf"}}
          <a class="button" href="mais_dossier.pdf"><i class="icon-download"></i> download print version</a>
        {{/if_in}}
      {{/each}}
    </div>
    <div class="attachments">
      <ul>
      {{#each attachments}}
        {{#if_in this.ext compare="jpg|png|gif"}}
          <li><img src="{{this.src}}"/></li>
        {{/if_in}}
      {{/each}}
      </ul>
    </div>
    <div class="abstract">{{{abstract}}}<!--{{type}}--></div>

    <hr/>

    {{#unless_eq reference compare=""}}
    <div class="mla">
      <span data-reference-id="{{reference}}">[ ... ]</span>
      {{#if permissions}}
        {{#if_eq permissions compare="CAN_EDIT"}}
          <a href="{{settings.base_url}}/#{{#url "re" "slug" this.slug}}{{/url}}" title="edit bibliographic reference"><i class="icon-pencil"></i></a>
        {{/if_eq}}
      {{/if}}
    </div>
    <hr/>
    {{/unless_eq}}
    
    
    <div class="actions">
      <ul>
        {{#if permissions}}
        {{#if_eq permissions compare="CAN_EDIT"}}
          <li><a href="{{settings.base_url}}/#{{#url "de" "slug" this.slug}}{{/url}}">edit</a></li>
          {{#unless_eq status compare="public"}}
          <li>publish</li>
          {{/unless_eq}}
        {{/if_eq}}
        {{/if}}
      </ul>
    </div>
    
    <div class="authors">
      
      by <a href="{{settings.base_url}}/#{{#url "u" "username" owner}}{{/url}}">{{owner}}</a>
      {{#each authors}}
        <a href="{{settings.base_url}}/#{{#url "u" "username" this}}{{/url}}">{{this}}</a>
      {{/each}}
    </div>
  </div>
</div>
