<div class="document pin {{status}}" id="d-{{id}}">
  <div class="status">{{status}}</div>
  <h3>{{title}}</h3>
  <div class="abstract">{{abstract}}</div>
  <div class="abstract">{{content}}</div>
  <div class="authors">
    by <a href="/u/{{owner}}">{{owner}}</a>
  </div>
</div>
