<div class="document pin {{status}} {{#each tags.RATING}}{{this.name}}_grade {{/each}}" data-id="{{id}}" id="d-{{id}}">

  <div class="pusher"></div>
  <div class="status">{{status}}</div>
  <h3>{{title}}</h3>
  <div class="tags">
    {{#each tags.Date}}
      {{this.name}}
    {{/each}}
    <br/>
  	{{#each tags.Institution}}
  		{{this.name}} /
		{{/each}}
    <br/>
    <br/>
    {{#each tags.AUTHOR}}
      {{this.name}} -
    {{/each}}
  </div>
  <div class="abstract">{{abstract}} {{type}}</div>
  <div class="abstract">{{content}}</div>
  <div class="authors">
    
    by <a href="/#{{#url "u" "slug" owner}}{{/url}}">{{owner}}</a>
    {{#each authors}}
      <a href="/#{{#url "u" "slug" this}}{{/url}}">{{this}}</a>
    {{/each}} <a href="{{settings.base_url}}/d/{{slug}}/edit/">edit</a>
  </div>
</div>
