<div class="pin {{d.status}}">
  <div class="status"></div>
  <h3>{{d.title}}</h3>
  <div class="abstract">{{d.abstract}} - {{d.mimetype}}</div>

  <div class="authors">
    by <a href="/u/{{d.owner}}">{{d.owner}}</a>
  </div>
</div>
