<div class="document pin {{status}} {{#each tags.RATING}}{{this.name}}_grade {{/each}}" id="d-{{id}}">
  <div class="pusher"></div>
  <div class="status">{{status}}</div>
  <h3>{{title}}</h3>
  <div class="tags">
    {{#each tags.Date}}
      {{this.name}}
    {{/each}}
    <br/>
  	{{#each tags.Institution}}
  		{{this.name}} /
		{{/each}}
    <br/>
    <br/>
    {{#each tags.AUTHOR}}
      {{this.name}} -
    {{/each}}
  </div>
  <div class="abstract">{{abstract}}</div>
  <div class="abstract">{{content}}</div>
  <div class="authors">
    {{#url "u" "slug" owner}}{{/url}}
    by <a href="{{settings.base_url}}/u/{{owner}}">{{owner}}</a> <a href="{{settings.base_url}}/d/{{slug}}/edit/">edit</a>
  </div>
</div>
