<div class="box {{status}} {{#if abstract}}size12 {{/if}}" style="overflow:hidden">
  <div class="tags">
    <span class="date" >
      {{#foreach tags.Date}}<span class="set-property tag date" data-tip="filter by {{this.name}}" data-slug="{{this.name}}" data-filter="tags__slug__in">{{this.name}}</span>{{#unless this.$last}}, {{/unless}}{{/foreach}}
    </span>
    <span class="set-property type" data-tip="filter by type: {{type}}" data-slug="{{type}}" data-filter="type__in">{{type}}</span>
  </div>

  <h2><a href="/#{{#url "d" "slug" slug}}{{/url}}">{{title}}</a></h2>
  {{#if tags.KEYWORD.length}}
    <div class="tags">
        {{#foreach tags.KEYWORD}}
          <span class="set-property tag keyword" data-tip="filter by {{this.name}}" data-slug="{{this.slug}}" data-filter="tags__slug__REDUCE">#{{this.name}}</span>{{#unless this.$last}}, {{/unless}}
        {{/foreach}}
      
    </div>
    {{/if}}
  {{#if abstract}}
  <div class="abstract">{{{abstract}}}</div>
  {{/if}}

  <div class="thumb" >
    <img src="{{attachments.thumb.src}}"/>
  </div>
  <!-- 

  {{#if tags.Institution.length}}
    &middot;
    <span class="institutions">
      {{#foreach tags.Institution}}<span class="tag institution">{{this.name}}</span>{{#unless this.$last}}, {{/unless}}{{/foreach}}
    </span>
    {{/if}}

  -->
  <div class="actions">
    <a href="/#{{#url "d" "slug" slug}}{{/url}}">view</a>
  </div>
</div>