<div class="facet {{type}} set-property" data-tip="{{label}} {{count}}/{{max}}" style="width: {{step}}%" data-filter="{{filter}}" data-maximum="{{max}}" data-slug="{{slug}}">
  <div class="bar-wrapper">
    <div class="bar-global" style="height: {{global}}%"></div>
    <div class="bar-value" style="height:{{value}}%;"></div>
    <div class="count" style="bottom:{{value}}%;">{{count}}</div>
    
  </div>
  <label>{{label}}</label>
</div>